<nav id="navBar">
    <img src="assets/logo-red.png" alt="" class="logo">
    <ul class="nav-links">
        <li><a href="" class="active">Popular Places</a></li>
        <li><a href="">Travel Outside</a></li>
        <li><a href="">Online Packages</a></li>

    </ul>
    <a href="" class="btn-register">Register Now</a>
    <i class="fa fa-bars" (click)="toggleBtn()"></i>
</nav>
<div class="container">

    <div class="list-container">
        <div class="left-col">
            <p>200+ Options</p>
            <h1>Recommended Places In San Francisco</h1>
            <div class="house">
                <div class="house-img">
                    <img src="assets/image-s1.png" alt="">
                </div>
                <div class="house-info">
                    <p>Private Villa in Fransosco</p>
                    <h3>Deluxe Queen Room With Street View</h3>
                    <p>1 Bedroom / 1 Kitchen / Wifi</p>
                    <div class="icons">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 100 <span>/ day</span> </h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <img src="assets/image-s2.png" alt="">
                </div>
                <div class="house-info">
                    <p>Private Villa in Fransosco</p>
                    <h3>Deluxe Queen Room With Street View</h3>
                    <p>1 Bedroom / 1 Kitchen / Wifi</p>
                    <div class="icons">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 100 <span>/ day</span> </h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <img src="assets/image-s3.png" alt="">
                </div>
                <div class="house-info">
                    <p>Private Villa in Fransosco</p>
                    <h3>Deluxe Queen Room With Street View</h3>
                    <p>1 Bedroom / 1 Kitchen / Wifi</p>
                    <div class="icons">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 100 <span>/ day</span> </h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <img src="assets/image-s4.png" alt="">
                </div>
                <div class="house-info">
                    <p>Private Villa in Fransosco</p>
                    <h3>Deluxe Queen Room With Street View</h3>
                    <p>1 Bedroom / 1 Kitchen / Wifi</p>
                    <div class="icons">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 100 <span>/ day</span> </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="sidebar">
                <h2>Select Filters</h2>
                <h3>Property Type</h3>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">House</span><span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Hostel</span>
                    <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Flat</span><span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Villa</span><span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Guest Suite</span><span>(0)</span>
                </div>
                <h3>Amenities</h3>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Air Conditioning</span><span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Wifi</span><span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Gym</span><span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Pool</span><span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <span class="flex-1">Kitchen</span><span>(0)</span>
                </div>
                <div class="sidebar-link">
                    <a href="">View More</a>
                </div>
            </div>
        </div>
        <div class="pagination">
            <img src="assets/arrow.png" alt="">
            <span class="current-active-page">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>&middot; &middot; &middot; &middot;</span>
            <img src="assets/arrow.png" alt="" class="right-arrow">
        </div>
    </div>



    <div class="footer">
        <a href="https://facebook.com/"> <i class="fa fa-facebook"></i></a>
        <a href="https://youtube.com/"> <i class="fa fa-youtube"></i></a>
        <a href="https://twitter.com/"> <i class="fa fa-twitter"></i></a>
        <a href="https://linkedin.com/"> <i class="fa fa-linkedin-in"></i></a>
        <a href="https://instagram.com/"> <i class="fa fa-instagram"></i></a>
        <hr>
        <p>Copyright @ 2021, Easy Tutorial </p>
    </div>
</div>